<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhatIsTheWord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5B69D811C55DD48006B5A29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5B69D9A1C55DD49006B5A29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5B69DA51C55DD49006B5A29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
